body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.m-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/* Configuración de la grilla principal */
main {
    display: grid;
    grid-template-rows: auto 1fr; /* Header ocupa la primera fila, el resto la segunda */
    grid-template-columns: 1fr 4fr; /* Nav ocupa menos espacio, principal ocupa más */
    gap: 5px; /* Reducir el espacio entre las áreas */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Header ocupa la primera fila */
header {
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    background-color: #333;
    padding: 10px; /* Reducir el padding para ahorrar espacio */
    text-align: center;
}

/* Nav */
#panel-izquierda {
    grid-row: 2;
    grid-column: 1;
    background-color: #444;
    padding: 10px; /* Reducir el padding */
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem; /* Reducir el tamaño de fuente */
}

#principal {
    grid-row: 2;
    grid-column: 2;
    background-color: #555;
    padding: 15px; /* Ajustar el padding */
    overflow-y: auto;
}

/* Tabla de series */
#series {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas por defecto */
    gap: 16px;
    width: 100%;
}

@media (max-width: 900px) {
    #series {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    #series {
        grid-template-columns: 1fr;
    }
}

/* Cabecera de la tabla */
#series th {
    background-color: #fd6464;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #555;
    font-weight: bold;
}

/* Filas de la tabla */
#series td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
    vertical-align: middle;
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    background: #fd6464;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #ff5420;
    transform: scale(1.05);
}